*.c136de1
*.user
*.exe
*.user

build-tanca/*


build-tancamobile-Android_for_armeabi_v7a_GCC_4_9_Qt_5_11_1_for_Android_armv7-Debug/

build-tancamobile-Android_for_x86_GCC_4_9_Qt_5_11_1_for_Android_x86-Debug/

build-tancamobile-Desktop_Qt_5_11_1_GCC_64bit-Debug/


packaging/output/

*.8-pre1

build-tanca-Android_for_armeabi_v7a_Clang_Qt_5_12_3_for_Android_ARMv72-Debug/

build-tanca-Android_for_x86_Clang_Qt_5_12_3_for_Android_x862-Debug/

build-tanca-mobile-Android_for_x86_Clang_Qt_5_12_3_for_Android_x862-Debug/

android/\.idea/caches/
